DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name

GOOGLE_APPLICATION_CREDENTIALS=./gcredentials.json

EMPLOYEE_SERVICE=
FILE_MANAGER_SERVICE=
MASTER_DATA_SERVICE=

GCS_PROJECT_ID=
GBS_STORAGE_BUKET=

DEFAULT_DATA_CREATED_BY=
DEFAULT_DATA_CREATED_NAME=

SUBSCRIPTION_EXPORT=
SUBSCRIPTION_LOAN_ORDER_CREATED=
SUBSCRIPTION_DISBURSEMENT=

TOPIC_CUSTOMER_ORDER_UPDATED=
TOPIC_LOAN_ORDER_UPDATED=