DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=db_user
DB_PASS=db_pass
DB_NAME=db_name

GOOGLE_APPLICATION_CREDENTIALS=./gcredentials.json

EMPLOYEE_SERVICE=
FILE_MANAGER_SERVICE=
MASTER_DATA_SERVICE=

GCS_PROJECT_ID=
GBS_STORAGE_BUKET=